@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
/* Шрифт: font-family: 'Rubik Mono One', sans-serif; */

body {
    font-family: 'Rubik Mono One', sans-serif;
    background-color: #919191;
}
/* Начало работы с header */
.menu li {
    list-style-type: none;
    float: left;
    margin-left: 20px;
    color: black;
}
.menu a {
    border-right: 2px solid;
    padding-right: 15px;
	position: relative;
	color: black;
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/

}
.menu a:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #202020; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

.menu a:hover:after,
.menu a:focus:after {
	width: 90%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.header {
    margin-top: 20px;
}

/* Конец работы с header */
/* Начало работы с body */
.body {
    margin: 0 auto;
    background-color: #2e2e2e;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 95%;
    margin-top: 30px;
}

/* Конец работы с body */
/* Раскладка */

/* Конец */
/* Начало работы с проектами */
.project {
    width: 500px;
    font-size: 12px;
    background-color: #535353;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px white;
}
.project:hover {
    box-shadow: -5px -5px 15px white;
    transition: 0.5s;
}
.project:not(hover) {
    transition: 0.5s;
}
.project img {
    width: 500px;
    border-radius: 10px;
}
.project a {
    text-decoration: none;
    color: white;
}
.project a:hover {
    color: rgb(255, 112, 112);
    transition: 0.5s;
}
.project a:not(hover) {
    transition: 0.5s;
}

/* Конец работы с проектами */
/* Form start */
textarea {
    width: 100%;
}
form {
    background: grey;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}
button {
    border: 1px solid;
    cursor: pointer;
}
/* Form finish */